html {
    background:rgb(226, 231, 199);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
    color:rgb(58, 58, 58);
    padding: 40px;
    border-top: 10px solid rgb(146, 252, 146);
    background:white;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4 em;
}

#blog {
    border-top: 1px dotted rgb(146, 252, 146);
}

.blog-post{
    border-bottom: 1px dotted rgb(146, 252, 146);
}
