html {
    background:rgb(226, 231, 199);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
    color:rgb(58, 58, 58);
    padding: 40px;
    border-top: 10px solid rgb(66, 166, 190);
    background:white;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4 em;
}

#dog1 {
    color:rgb(37, 88, 121);
}

#dog2 {
    color:rgb(37, 88, 121);
}

#meet {
    color:rgb(26, 54, 71);
}
