html {
    background:lightgray;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
    color:grey;
    padding: 40px;
    border-top: 10px solid white;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4 em;
}

#blog {
    border-top: 1px dotted lightgreen;
}

.blog-post{
    border-bottom: 1px dotted lightgreen;
}
